
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rainbowText {
  background: linear-gradient(120deg, #6cb1ff, #a766ff, #ea7bff, #ff888d, #ffc189);
  -webkit-background-clip: text;
  color: transparent;
}

#spaceBlock {
  padding: 20px 50px;
  opacity: 0;
}

.container {
  padding: 150px;
  background-color: hsla(0, 0%, 0%, 1);
  background-image:
    radial-gradient(at 55% 64%, hsla(46, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 55% 23%, hsla(0, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 76% 100%, hsla(0, 100%, 77%, 0.76) 0px, transparent 50%),
    radial-gradient(at 100% 13%, hsla(261, 100%, 71%, 0.72) 0px, transparent 50%),
    radial-gradient(at 0% 18%, hsla(234, 100%, 76%, 0.65) 0px, transparent 50%);
}

#click {
  margin-top: 5px;
  padding: 17.5px 35px;
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
}

#click:hover {
  color: rgb(230, 230, 230);
  opacity: 0.9;
  box-shadow:
			inset 0 0 0 0.75px rgba(255, 255, 255, 0.12),
			inset 0 -1px 0 rgba(0, 0, 0, 0.24);
}

#reset {
  margin-top: 15px;
  margin-bottom: 120px;
  padding: 10px 30px;
  background: rgb(60, 59, 59);
	transition: background-color 0.3s ease;
  border-radius: 10px;
  border: none;
  box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
}

#reset:hover {
  color: rgb(230, 230, 230);
  background: rgb(80, 79, 79);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 50px;
}

h2 {
  margin-top: 10px;
  font-style: italic;
  font-size: 23px;
  color: rgb(182, 180, 180);
  font-weight: normal;
}

h3 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: normal;
}

h4 {
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

